@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: block;
  width: 8px;
  border-radius: 80px;
  background-color: #d3d3d3;
}

::-webkit-scrollbar-track {
  background: transparent;
  -webkit-box-shadow: inset 0 0 6px rgba(189, 189, 189, 0.8);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 80px;
  border-right: none;
  border-left: none;
}

::-webkit-scrollbar-thumb:hover {
  transition: background-color;
  background-color: #838383;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

div ol {
  list-style: decimal;
}
